
@model VapeBlogger.Models.Post
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-8 col-xs-12">


                <div class="post-entry">
                    <h2> @Model.Title</h2>
                   
                    <ul class="post-tools">
                        <li> by <a href="#"> <strong> @Model.CreatedBy</strong> </a></li>
                        <li class="post-share">  <strong> 23</strong> Shares </li>
                        <li> @Model.CreateDate.ToShortDateString() </li>
                        <li> <a href="#"> <i class="ti-thought"></i> 157</a> </li>
                        <li> <i class="ti-eye"></i> 2563 </li>
                    </ul>

                    <div class="picture"> <img alt="@Model.Title" class="img-responsive" style="width:980px; height:450px;" src="/uploads/@Model.Photo"> </div>
                    <p>
                        @Html.Raw(Model.Description)
                    </p>



                </div>

            </div>

            <div class="col-md-4 col-sm-12 col-xs-12" id="side-bar-right">
                <div class="theiaStickySidebar">
                    <aside>
                        
                        <div class="widget widget-bg">
                            <div class="heading">
                                <h2 class="main-heading">En Çok Okunan Gönderiler</h2>
                                <span class="heading-ping"></span>
                            </div>
                            <ul class="tabs-posts">
                               
                                @foreach(var item in (IEnumerable<PostsViewModel>)ViewBag.Posts) {
                                <li>
                                    <div class="pic"> <a href=""><img alt="@item.Id" style="width:60px; height:60px;" class="img-responsive" src="~/uploads/@item.Photo"></a> </div>
                                    <div class="caption"> <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id">@item.Title</a> </div>
                                    <ul class="post-tools">
                                        <li>  @item.CreateDate.ToShortDateString() </li>
                                       
                                    </ul>
                                </li>
                                }
                            </ul>
                        </div>
                        
                       
                        <div class="widget widget-bg">
                            <div class="heading">
                                <h2 class="main-heading">Kategoriler</h2>
                                <span class="heading-ping"></span>
                            </div>
                            
                            <ul class="cat-holder">
                                @foreach (var category in (IEnumerable<CategoryViewModel>)ViewBag.Categories)
                                {
                                <li> <a asp-action="Index" asp-controller="Home" asp-route-id="@category.Id">@category.Name</a> <i class="count">( @category.Count )</i> </li>
                                 }
                            </ul>
                           
                        </div>
                        <div class="widget widget-bg">
                            <div class="heading">
                                <h2 class="main-heading">Benzer Haberler</h2>
                                <span class="heading-ping"></span>
                            </div>
                            <ul class="tabs-posts">

                                @foreach (var post in )
                                {
                                    <li>
                                        <div class="pic"> <a href=""><img alt="@post.Id" style="width:60px; height:60px;" class="img-responsive" src="~/uploads/@post.Photo"></a> </div>
                                        <div class="caption"> <a asp-action="Details" asp-controller="Posts" asp-route-id="@post.Id">@post.Id</a> </div>
                                        <ul class="post-tools">
                                            <li>  @post.CreateDate.ToShortDateString() </li>

                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                        
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>


