
@model VapeBlogger.Models.Post
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-8 col-xs-12">

                
                <div class="post-entry">
                    <h2> @Model.Title</h2>
                   
                    <ul class="post-tools">
                        <li> by <a href="#"> <strong> @Model.CreatedBy</strong> </a></li>
                        <li class="post-share">  <strong> 23</strong> Shares </li>
                        <li> @Model.CreateDate.ToShortDateString() </li>
                        <li> <a href="#"> <i class="ti-thought"></i> 157</a> </li>
                        <li> <i class="ti-eye"></i> @Model.Hits </li>
                    </ul>

                    <div class="picture"> <img alt="@Model.Title" class="img-responsive" style="width:980px; height:450px;" src="/uploads/@Model.Photo"> </div>
                    <p>
                        @Html.Raw(Model.Description)
                    </p>



                </div>
@foreach (var item in (IEnumerable<CommentViewModel>)ViewBag.Comment)
{
                <div class="reviews" style="margin-top:100px;">
                    <h3>Total Coments (46)</h3>
                    <ol class="comment-list">
                        <li class="comment">
                            <div class="comment-info">
                                <div class="author-desc">
                                    <div class="author-title">
                                        <strong>@item.FullName</strong>
                                        <ul class="list-inline pull-right">
                                            <li>@item.CreateDate.ToShortDateString() </li>
                                           
                                        </ul>
                                    </div>
                                    <p>@item.MyComment</p>
                                </div>
                            </div>
                           
                        </li>
                        
                    </ol>
                </div>
}
                <div class="commentform" style="margin-top:50px;">
                    <form class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Ad Soyad <span class="required">*</span></label>
                                <input class="form-control" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Yorum <span class="required">*</span></label>
                                <textarea class="form-control" placeholder="" rows="8" cols="6"></textarea>
                            </div>
                        </div>
                      
                       
                        <div class="col-md-12 col-sm-12">
                            <input value="Yorum Yap" class="btn btn-colored-blog" type="submit">
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-md-4 col-sm-12 col-xs-12" id="side-bar-right">
                <div class="theiaStickySidebar">
                    <aside>
                        
                        <div class="widget widget-bg">
                            <div class="heading">
                                <h2 class="main-heading">En Çok Okunan Gönderiler</h2>
                                <span class="heading-ping"></span>
                            </div>
                            <ul class="tabs-posts">
                               
                                @foreach(var item in (IEnumerable<PostsViewModel>)ViewBag.Posts) {
                                <li>
                                    <div class="pic"> <a href=""><img alt="@item.Id" style="width:60px; height:60px;" class="img-responsive" src="~/uploads/@item.Photo"></a> </div>
                                    <div class="caption"> <a asp-action="Details" asp-controller="Post" asp-route-id="@item.Id">@item.Title</a> </div>
                                    <ul class="post-tools">
                                        <li>  @item.CreateDate.ToShortDateString() </li>
                                       
                                    </ul>
                                </li>
                                }
                            </ul>
                        </div>
                        
                       
                        <div class="widget widget-bg">
                            <div class="heading">
                                <h2 class="main-heading">Kategoriler</h2>
                                <span class="heading-ping"></span>
                            </div>
                            
                            <ul class="cat-holder">
                                @foreach (var category in (IEnumerable<CategoryViewModel>)ViewBag.Categories)
                                {
                                <li> <a asp-action="Index" asp-controller="Home" asp-route-id="@category.Id">@category.Name</a> <i class="count">( @category.Count )</i> </li>
                                 }
                            </ul>
                           
                        </div>
                        <div class="widget widget-bg">
                            <div class="heading">
                                <h2 class="main-heading">Benzer Gönderiler</h2>
                                <span class="heading-ping"></span>
                            </div>
                            <ul class="tabs-posts">

                                @await Component.InvokeAsync("PostComponent", new { catId = Model.CategoryId })
                            </ul>
                        </div>
                        
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>


