
@model VapeBlogger.Models.Post
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-8 col-xs-12">

                
                <div class="post-entry">
                    <h2> @Model.Title</h2>
                   
                    <ul class="post-tools">
                        <li> by <a href="#"> <strong> @Model.CreatedBy</strong> </a></li>
                        <li class="post-share">  <strong> 23</strong> Shares </li>
                        <li> @Model.CreateDate.ToShortDateString() </li>
                        <li> <a href="#"> <i class="ti-thought"></i> 157</a> </li>
                        <li> <i class="ti-eye"></i> @Model.Hits </li>
                    </ul>
                    <ul class="social-share">
                        <li class="facebook"> <a rel="nofollow" href="http://www.facebook.com/share.php?u=<;url>" onclick="return fbs_click()"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li class="google"> <a href="#"><i class="fa fa-google"></i> Google Plus</a></li>
                        <li class="twitter"> <a href="#"> <i class="fa fa-twitter"></i> Twitter</a></li>
                        <li class="linkedin"> <a href="#"> <i class="fa fa-linkedin"></i> LinkedIn</a></li>
                        <li class="pinterest"><a href="#"> <i class="fa fa-pinterest"></i> Pinterest</a></li>
                        
                    </ul>

                    <div class="picture"> <img alt="@Model.Title" class="img-responsive" style="width:980px; height:450px;" src="/uploads/@Model.Photo"> </div>
                    <p>
                        @Html.Raw(Model.Description)
                    </p>
                </div>


                <div class="post-comments" style="margin-top:100px;">
                    <div class="block-title">
                        <h3>Yorum (@Model.Comments.Count)</h3>
                    </div>
@foreach (var com in ViewBag.Commentss)
{
                    <div class="media">

                        <div class="media-body">
                            <div class="media-heading">
                                <a href="#">@com.FullName</a> <span class="divider">|</span> <span class="light-gray">@com.CreateDate.ToShortTimeString()</span>
                            </div>
                            <p>@com.Article</p>
                            <div class="media-footer">
                                
                                <span class="divider"></span>
                            
                            </div>

                        </div>
                    </div>
}
                </div>
                
          
                <div class="post-comment-add" style="margin-top:20px;">
                    <div class="block-title">
                        <h3>Yorum Yap</h3>
                    </div>
                    <form class="form-add-comment">
                        <div class="form-group">
                            <input id="fullnames" class="form-control" placeholder="Ad Soyad" name="name">
                            <div class="form-control-border"></div>
                            <i class="form-control-icon fa fa-user"></i>
                        </div>
                        <div class="form-group">
                            <textarea id="yorum" class="form-control" placeholder="Mesajınız..." name="message"></textarea>
                            <div class="form-control-border"></div>
                            <i class="form-control-icon fa fa-comment"></i>
                        </div>
                        <input id="gonder" placeholder="Gönder" class="button" type="submit">
                    </form>
                </div>

                

            </div>

            <div class="col-md-4 col-sm-12 col-xs-12" id="side-bar-right">
                <div class="theiaStickySidebar">
                    <aside>
                        
                        <div class="widget widget-bg">
                            <div class="heading">
                                <h2 class="main-heading">En Çok Okunan Gönderiler</h2>
                                <span class="heading-ping"></span>
                            </div>
                            <ul class="tabs-posts">
                               
                                @foreach(var item in (IEnumerable<PostsViewModel>)ViewBag.Posts) {
                                <li>
                                    <div class="pic"> <a href=""><img alt="@item.Id" style="width:60px; height:60px;" class="img-responsive" src="~/uploads/@item.Photo"></a> </div>
                                    <div class="caption"> <a asp-action="Details" asp-controller="Post" asp-route-id="@item.Id">@item.Title</a> </div>
                                    <ul class="post-tools">
                                        <li>  @item.CreateDate.ToShortDateString() </li>
                                       
                                    </ul>
                                </li>
                                }
                            </ul>
                        </div>
                        
                       
                        <div class="widget widget-bg">
                            <div class="heading">
                                <h2 class="main-heading">Kategoriler</h2>
                                <span class="heading-ping"></span>
                            </div>
                            
                            <ul class="cat-holder">
                                @foreach (var category in (IEnumerable<CategoryViewModel>)ViewBag.Categories)
                                {
                                <li> <a asp-action="Index" asp-controller="Home" asp-route-id="@category.Id">@category.Name</a> <i class="count">( @category.Count )</i> </li>
                                 }
                            </ul>
                           
                        </div>
                        <div class="widget widget-bg">
                            <div class="heading">
                                <h2 class="main-heading">Benzer Gönderiler</h2>
                                <span class="heading-ping"></span>
                            </div>
                            <ul class="tabs-posts">

                                @await Component.InvokeAsync("PostComponent", new { catId = Model.CategoryId })
                            </ul>
                        </div>
                        
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

@section js{
<script type="text/javascript">
    $(document).ready(function () {
        $("#gonder").click(function () {
            var yorumunuz = $("#yorum").val();
            var adsoyad = $("#fullnames").val();
            if (yorumunuz == "" || adsoyad == "") {
                alert("Boş Geçilemez!");
                return false;
            }

            $.ajax({
                url: '/Post/SendComment',
                data: { fullName: adsoyad, article: yorumunuz, postid: @Model.Id },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert("Yorumunuz Gönderildi. Yönetici onayından sonra yayınlanacaktır.");
                    window.location.reload();
                }


            });

        });

    })
</script>
}

<script>
    function fbs_click() {
        u = location.href; t = document.title;
        window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + encodeURIComponent(t), 'sharer', 'toolbar=0,status=0,width=626,height=436');
        return false;
    }
</script>