@model IEnumerable<VapeBlogger.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<section class="top-small-post-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="small-post-slider owl-carousel owl-theme">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="small-post">
                                <div class="small-thumb">
                                    <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id">
                                        <img style="width:100px; height:100px;" src="/uploads/@item.Photo" class="">
                                    </a>
                                </div>

                                <div class="post-content">
                                    <h3> <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id">@item.Title</a> </h3>
                                    <ul class="post-tools">
                                        <li title="Comments"> <a href="#"><i class="ti-thought"></i> </a> </li>
                                        <li>  @item.CreateDate.ToShortDateString() </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>



<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section ">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="heading colored">
                                <h2 class="main-heading">Gündem</h2>
                                <span class="heading-ping"></span>
                               
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="posts-masonry">
                            @foreach (var item in Model)
                            {
                            <article class="col-md-4 col-sm-6 col-xs-12">
                              @{ 
                                  string secenek = item.Category.Name;
                              }
                                <div class="grid-1 gride-style-2">
                                    <div class="picture">
                                        <div class="category-image">
                                            <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id">
                                                <img alt="@item.Title" class="img-responsive" src="/uploads/@item.Photo" style="width:600px; height:250px;">
                                            </a>
                                            <div class="catname">
                                                <a class="btn btn-gray" href="#">
                                                    <div>@item.Category.Name</div>
                                                </a>
                                            </div>
                                            <div class="hover-show-div">
                                                <a href="#" class="post-type">
                                                    @if (secenek == "Magazin") {
                                                    <i class="ti-video-camera"></i>
                                                    }
                                                    else if(secenek=="Spor"){ 
                                                    <i class="ti-image"></i>
                                                    }
                                                    else if (secenek == "Müzik")
                                                    {
                                                        <i class="ti-music"></i>

                                                    }
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <div class="caption">
                                            <h5>
                                                <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id">@item.Title</a>
                                            </h5>
                                        </div>
                                        <ul class="post-tools">
                                            <li> by <a href="#"> <strong> @item.CreatedBy</strong> </a></li>
                                            <li>  @item.CreateDate.ToShortDateString() </li>
                                        </ul>
                                    </div>
                                </div>
                               
                            </article>
                        }
                        </div>

                    </div>
                    <div class="pagination-holder">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a aria-label="Previous" href=" #"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a>
                                </li>
                                <li class="active">
                                    <a href=" #">1 <span class="sr-only">(current)</span></a>
                                </li>
                                <li>
                                    <a href=" #">2</a>
                                </li>
                                <li>
                                    <a href=" #">3</a>
                                </li>
                                <li>
                                    <a aria-label="Next" href=" #"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>